.error-page{
    height:calc(100vh - 150px);
    display: flex;
    flex-direction: row;
 
    align-items: center;
 
    .container{
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        div{
            
            h4{
                font-size:66px;
                font-weight:700;
                margin-right:10px;
                padding-right: 10px;
                color:#191E64;
                
            }
            span{
                font-size:24px;
                font-weight: 600;
                padding:15px 0px 20px  0px;
                display:block;
              
            }
            a{
                width: 180px;
                height: 36px;
                background: #191E64;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:10px;
                &:hover{
                    background-color: #F07D19;
                }
            }
        }
    }
}

//repsonsive
@media(max-widtH:576px){
    .error-page .container div span{
        font-size:14px;
    }
}