.about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .about-us .banner-part {
    height: 235px;
    position: relative; }
    .about-us .banner-part img {
      height: 100%;
      widtH: 100%; }
    .about-us .banner-part .container {
      position: absolute;
      top: 40%;
      lefT: 0;
      right: 0; }
      .about-us .banner-part .container h4 {
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF; }
  .about-us .first-section {
    margin-top: 80px; }
    .about-us .first-section .container .row .col-md-5 img {
      widtH: 70%;
      height: auto; }
    .about-us .first-section .container .row .col-md-7 p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #1A1A1A; }
    .about-us .first-section .container .row .col-md-7 img {
      height: 95px;
      widtH: auto;
      margin-bottom: 40px; }
    .about-us .first-section .container .row .col-md-7 p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #1A1A1A; }
  .about-us .second-section {
    margin-top: 80px; }
    .about-us .second-section .container {
      position: relative; }
      .about-us .second-section .container img {
        height: 525px;
        widtH: 100%; }
      .about-us .second-section .container .choice-info {
        background: #ffffff;
        max-widtH: 559px;
        position: absolute;
        top: 30%;
        lefT: 0;
        right: 0;
        padding: 40px 40px 20px 40px;
        margin-lefT: auto;
        margin-right: auto;
        text-align: center; }
        .about-us .second-section .container .choice-info h4 {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          text-transform: uppercase;
          color: #191E64; }
        .about-us .second-section .container .choice-info p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #1A1A1A;
          margin-top: 10px; }
  .about-us .third-section {
    margin-top: 80px; }
    .about-us .third-section .container .row .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .about-us .third-section .container .row .col-md-4 span {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;
        color: #191E64; }
    .about-us .third-section .container .row .col-md-8 .sub-div {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      justify-content: space-evenly; }
      .about-us .third-section .container .row .col-md-8 .sub-div div img {
        widtH: 87px;
        height: auto; }
        .about-us .third-section .container .row .col-md-8 .sub-div div img:after {
          content: '';
          height: 50px;
          color: red;
          widtH: 2px; }
      .about-us .third-section .container .row .col-md-8 .sub-div div h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: #191E64; }
      .about-us .third-section .container .row .col-md-8 .sub-div div p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #1A1A1A; }
      .about-us .third-section .container .row .col-md-8 .sub-div .second {
        widtH: 500px;
        padding-lefT: 30px; }
  .about-us .fourth-section .container .row .col-md-12 {
    position: relative;
    bordeR: 1px solid black;
    padding: 15px; }
    .about-us .fourth-section .container .row .col-md-12 img {
      widtH: 100%;
      height: 450px;
      object-fit: cover; }
    .about-us .fourth-section .container .row .col-md-12 .play-btn {
      position: absolute;
      top: 40%;
      left: 50%; }
      .about-us .fourth-section .container .row .col-md-12 .play-btn img {
        width: 79px;
        height: auto;
        position: absolute;
        top: 50%; }
  .about-us .fifth-section {
    margin-top: 80px;
    background: #F8F8F8;
    padding: 80px 0px; }
    .about-us .fifth-section .container .row .col-md-6 h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-transform: uppercase;
      color: #191E64; }
    .about-us .fifth-section .container .row .col-md-6.second .affiliate {
      justify-content: space-between; }
      .about-us .fifth-section .container .row .col-md-6.second .affiliate .col-md-4 {
        margin-bottom: 20px; }
        .about-us .fifth-section .container .row .col-md-6.second .affiliate .col-md-4 img {
          widtH: auto;
          height: 70px; }
  .about-us .sixth-section {
    margin-top: 80px; }
    .about-us .sixth-section .container .row .col-md-3 img {
      widtH: 100%;
      height: auto; }
  .about-us .seventh-section {
    margin-top: 80px;
    margin-bottom: 80px; }
    .about-us .seventh-section .container .title {
      text-align: center;
      margin-bottom: 60px; }
      .about-us .seventh-section .container .title h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        /* Blue */
        color: #191E64; }
    .about-us .seventh-section .container .testimonial-slider .testimonial-div {
      margin-right: 30px; }
      .about-us .seventh-section .container .testimonial-slider .testimonial-div .statement {
        background: #F8F8F8;
        padding: 30px 25px;
        padding-bottom: 60px;
        height: 260px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); }
        .about-us .seventh-section .container .testimonial-slider .testimonial-div .statement p {
          font-size: 14px;
          color: #030303; }
      .about-us .seventh-section .container .testimonial-slider .testimonial-div .client-name {
        background: #11235D;
        height: 130px;
        padding: 15px;
        position: relative;
        /* shadow */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); }
        .about-us .seventh-section .container .testimonial-slider .testimonial-div .client-name img {
          widtH: 54px;
          height: auto;
          bordeR: 4px solid white;
          border-radius: 50%;
          position: absolute;
          top: -30px; }
        .about-us .seventh-section .container .testimonial-slider .testimonial-div .client-name span {
          display: block; }
          .about-us .seventh-section .container .testimonial-slider .testimonial-div .client-name span:nth-of-type(1) {
            font-size: 16px;
            color: #ffffff;
            margin-top: 30px;
            font-weight: 600; }
          .about-us .seventh-section .container .testimonial-slider .testimonial-div .client-name span:nth-of-type(2) {
            font-size: 12px;
            color: #ffffff;
            font-weight: 500; }

.testimonial-slider .slick-next:before {
  color: #F07D19;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  font-size: 30px;
  margin-lefT: 10px; }

.testimonial-slider .slick-prev:before {
  color: #F07D19;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  font-size: 30px;
  margin-left: -30px; }

@media (max-widtH: 992px) {
  .about-us .first-section .container .row .col-md-7 img {
    widtH: 100%;
    height: auto; }

  .about-us .fifth-section .container .row .col-md-6.second .affiliate .col-md-4 img {
    widtH: 100%;
    height: auto; } }
@media (max-widtH: 768px) {
  .about-us .banner-part {
    height: auto; }

  .about-us .banner-part img {
    height: auto; }

  .about-us .banner-part .container {
    top: 30%; }

  .about-us .banner-part .container h4 {
    font-size: 24px; }

  .first-section {
    display: block; }

  .about-us .first-section .container .row .col-md-5 {
    widtH: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px; }

  .about-us .first-section .container .row .col-md-5 img {
    widtH: 40%;
    height: auto; }

  .about-us .first-section .container .row .col-md-7 img {
    widtH: 100%;
    height: auto; }

  .about-us .first-section {
    margin-top: 20px; }

  .about-us .second-section .container img {
    object-fit: cover; }

  .about-us .second-section {
    margin-top: 40px; }

  .about-us .third-section {
    margin-top: 40px; }

  .about-us .third-section .container .row .col-md-8 .sub-div .second {
    widtH: auto; }

  .about-us .third-section .container .row .col-md-8 .sub-div div img {
    width: 57px; }

  .about-us .third-section .container .row .col-md-4 {
    display: inline;
    margin-bottom: 40px; }

  .about-us .third-section .container .row .col-md-4 span {
    display: inline;
    font-size: 24px; }

  .about-us .third-section .container .row .col-md-8 .sub-div div h4 {
    font-size: 20px; }

  .about-us .fourth-section .container .row .col-md-12 {
    width: 90%;
    margin-lefT: 5%;
    margin-right: 5%; }

  .about-us .fourth-section .container .row .col-md-12 img {
    height: auto; }

  .about-us .fifth-section {
    margin-top: 40px;
    padding: 40px 0px; }

  .about-us .fifth-section .container .row .col-md-6 h4 {
    font-size: 24px; }

  .about-us .fifth-section .container .row .col-md-6 {
    margin-bottom: 40px; }

  .about-us .fifth-section .container .row .col-md-6 {
    margin-bottom: 20px; }

  .sixth-section .container .row .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px; }

  .seventh-section {
    widtH: 100%;
    overflow: hidden; }

  .about-us .seventh-section .container .title {
    text-align: left; }

  .about-us .seventh-section {
    margin-top: 40px; }

  .about-us .fifth-section .container .row .col-md-6.second .affiliate .col-md-4 img {
    widtH: auto;
    height: 55px; }

  .about-us .sixth-section {
    margin-top: 40px; } }
@media screen and (min-widtH: 604px) and (max-widtH: 768px) {
  .about-us .seventh-section .container .testimonial-slider .testimonial-div .statement {
    padding: 10px; }

  .about-us .seventh-section .container .testimonial-slider .testimonial-div .statement p {
    font-size: 12px; } }

/*# sourceMappingURL=about.css.map */
