.awards{
    padding:40px 0px 100px 0px;
  .awards-img{
        height: auto;
        width: 774px;
        position: absolute;
        right: 0;
       padding-lefT:60px;
  }
    .container{
        .first{
            padding-top:60px;
            h3{
                font-size: 28px;
                font-weight: 600;
               
            }
            p{
                font-size: 16px;
                color: #1A1A1A;
                font-weight: normal;
                max-width: 486px;
                padding:10px 0px 10px 0px;
            }
        }
        .second{
            margin-top: 40px;
            .row{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                .col-md-4{
                    flex:0 0 32%;
                    max-width: 32%;
                    img{
                        widtH:100%;
                    }
                    h5{
                        padding: 15px 0px 5px 0px;
                       
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media(max-widtH:1150px){
    .awards .awards-img{
        widtH:574px; 
    }
}
@media(max-widtH:992px){
 
   
    .awards .awards-img{
        display:none;
    }
    .awards .container .first{
        padding-top: 20px;
    }
}
@media(max-widtH:768px){
   
    .awards .container .second .row .col-md-4 {
        margin-bottom: 40px;
    }
    .awards .container .second .row .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-widtH:576px){
    .awards .container .first h3{
        font-size:20px;
    }
}
@media(max-widtH:350px){
    .awards .container .first h3{
        font-size:18px;
    }
}