.blogs-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .blogs-detail .breadcrumb-section {
    background: #171615;
    padding: 40px 0px; }
    .blogs-detail .breadcrumb-section .container .breadcrumb-info {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .blogs-detail .breadcrumb-section .container .breadcrumb-info span {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        display: block;
        color: #FFFFFF; }
      .blogs-detail .breadcrumb-section .container .breadcrumb-info h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #FFFFFF;
        padding: 10px 0px; }
      .blogs-detail .breadcrumb-section .container .breadcrumb-info div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .blogs-detail .breadcrumb-section .container .breadcrumb-info div .date {
          font-style: normal;
          font-weight: 600;
          font-size: 11.3043px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: #FFFFFF;
          width: auto;
          height: auto;
          padding: 5px 15px;
          background: #191E64;
          border-radius: 56.5217px;
          margin-right: 15px; }
        .blogs-detail .breadcrumb-section .container .breadcrumb-info div .address {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          /* White */
          color: #FFFFFF; }
  .blogs-detail .description-section {
    padding-top: 40px; }
    .blogs-detail .description-section .container .row .col-md-8 img {
      width: 100%;
      height: 342px;
      object-fit: cover;
      margin-bottom: 20px; }
    .blogs-detail .description-section .container .row .col-md-8 p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #000000; }
    .blogs-detail .description-section .container .row .col-md-4 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .blogs-detail .description-section .container .row .col-md-4 .title h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-transform: capitalize;
        color: #191E64; }
      .blogs-detail .description-section .container .row .col-md-4 .latest {
        background: #F2F2F2;
        margin-top: 20px;
        padding: 7px 10px; }
        .blogs-detail .description-section .container .row .col-md-4 .latest .row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-3 {
            display: flex;
            align-items: center; }
            .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-3 img {
              width: 100%;
              height: auto; }
          .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-9 h5 a {
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            text-transform: capitalize;
            color: #1A1A1A; }
            .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-9 h5 a:hover {
              color: #F07D19;
              cursor: pointer; }
          .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-9 p {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: #1A1A1A;
            margin-bottom: 5px; }
  .blogs-detail .similar-blogs {
    padding: 60px 0px; }
    .blogs-detail .similar-blogs .container {
      displaY: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .blogs-detail .similar-blogs .container .event-title {
        text-align: center; }
        .blogs-detail .similar-blogs .container .event-title h4 {
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          text-transform: uppercase;
          color: #191E64;
          margin-bottom: 40px; }
      .blogs-detail .similar-blogs .container .event-item .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .blogs-detail .similar-blogs .container .event-item .row .col-md-4 {
          flex: 0  0 32%;
          max-width: 32%; }
          .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .image {
            height: 300px; }
            .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .image img {
              widtH: 100%;
              height: 100%;
              object-fit: cover; }
          .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .dates {
            padding: 15px 0px; }
            .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .dates span:nth-of-type(1) {
              width: auto;
              padding: 5px 15px;
              color: white;
              display: inline;
              height: auto;
              background: #191E64;
              border-radius: 50px;
              font-size: 12px;
              font-weight: 500; }
            .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .dates span:nth-of-type(2) {
              width: auto;
              padding: 5px 15px;
              color: white;
              display: inline;
              height: auto;
              background: #F07D19;
              font-size: 12px;
              border-radius: 50px;
              font-weight: 500; }
          .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .name h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            text-transform: capitalize;
            /* Blue */
            color: #191E64; }
            .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .name h5:hover {
              color: #F07D19;
              cursor: pointer; }
          .blogs-detail .similar-blogs .container .event-item .row .col-md-4 .info span {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            font-weight: 500;
            color: #1A1A1A; }

@media (max-widtH: 992px) {
  .blogs-detail .breadcrumb-section .container {
    flex-wrap: nowrap; }

  .blogs-detail .description-section .container .row .col-md-4 .latest .row {
    flex-wrap: nowrap; } }
@media screen and (min-widtH: 769px) and (max-widtH: 992px) {
  .blogs-detail .description-section .container {
    max-width: 1100px; }

  .blogs-detail .similar-event .container .event-item .row .col-md-4 .dates span:nth-of-type(1) {
    display: flex;
    justify-content: center;
    margin-bottom: 5px; }

  .blogs-detail .similar-event .container .event-item .row .col-md-4 .dates span:nth-of-type(2) {
    display: flex;
    justify-content: center; } }
@media (max-widtH: 768px) {
  .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-3 img {
    height: 70px; }

  .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-3 {
    flex: 0 0 20%;
    max-width: 20%; }

  .blogs-detail .description-section .container .row .col-md-4 .latest .row .col-md-9 {
    flex: 0 0 80%;
    max-width: 80%;
    padding-lefT: 0px; }

  .blogs-detail .description-section .container .row .col-md-4 {
    margin-top: 40px; }

  .blogs-detail .similar-blogs .container .event-item .row .col-md-4 {
    flex: 0  0 auto;
    max-width: initial;
    margin-bottom: 40px; } }

/*# sourceMappingURL=blogs-detail.css.map */
