.faq{
    padding:80px 0px 80px  0px;
    .container{
        .title{
            h4{
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                text-transform: uppercase;
              
                text-align: center;
                color: #F07D19;
                margin-bottom: 40px;
            }
        }
        .accordion{
            max-width: 80%;
            margin-lefT:10%;
            margin-right: 10%;
            .card{
                .card-header{
                    background:#191E64;
                    margin-bottom: 2px;
                    a{
                        h5{
                            display:flex;
                            flex-direction: row;
                            .dropdown-icon{
                                position: absolute;
                                right:20px;
                            }
                            div{
                                font-size:16px;
                                color:#ffffff;
                                font-weight: 400;
                            
                                span{
                                    margin-right:10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//responsive
@media(max-widtH:992px){
    .faq{
        padding-top:40px;
    }
    .faq .container .accordion{
        max-width: 100%;
        margin-lefT:0%;
        margin-right: 0%;
    }
    .faq .container .accordion .card .card-header a h5 .dropdown-icon{
        right:7px;
    }
  
}
@media(max-widtH:450px){
    .faq .container .accordion .card .card-header a h5 .dropdown-icon{
        right:7px;
    }
    .faq .container .accordion{
        max-width: 100%;
        margin-lefT:0%;
        margin-right: 0%;
    }
    .faq .container .title h4{
        font-size:18px;
    }
}