.products{
    padding:40px 0px 100px 0px;
  .awards-img{
        height: auto;
        width: 774px;
        position: absolute;
        right: 0;
       padding-lefT:60px;
  }
    .container{
        .first{
            padding-top:60px;
            h3{
                font-size: 28px;
                font-weight: 600;
               
            }
            p{
                font-size: 16px;
                color: #1A1A1A;
                font-weight: normal;
                max-width: 486px;
                padding:10px 0px 10px 0px;
            }
        }
        .second1{
            margin-top: 40px;
            .row{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
             
                .col-md-3{
                  margin-bottom: 40px;
                    a{

                    
                    img{
                        widtH:100%;
                    }
                }
                }
            }
        }
    }
}

@media(max-widtH:992px){
    .products .awards-img{
        display:none;
    }
    .products .container .first{
        padding-top:20px;
    }
}
@media(max-width:576px){
    .products .container .first h3{
        font-size:20px;
    }
}
@media(max-width:350px){
    .products .container .first h3{
        font-size:18px;
    }
}
