.scheme{
    padding:50px 0px;
    .container{
        displaY:flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 1024px;
    
    .scheme-title{
        text-align: center;
        h4{
           

            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            text-transform: uppercase;
            color: #191E64;
            margin-bottom: 40px;

       
            
        }
    }
    .scheme-item{
        .row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            .col-md-6{
                margin-bottom: 60px;
                flex: 0 0 49%;
                max-width: 49%;
                .image{
                    height:370px;
                    margin-bottom: 15px;
                    img{
                        widtH:100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }
               
                .name{
                    h5{
                        
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                       
                        
                        text-transform: capitalize;
                        
                        /* Blue */
                        
                        color: #191E64;

                        &:hover{
                            color:#F07D19;
                            cursor: pointer;
                        }
                    }
                }
                .info{
                    span{
                      
                     
                        font-size: 14px;
                      
                        
                        color: #1A1A1A;


                        font-style: normal;
                       font-weight: 500;
       
                    }
                }
            }
        }
    }
}
}


//repsonsive
@media(max-widtH:992px){
    .scheme .container .scheme-item .row .col-md-6{
        flex:0 0 50%;
        max-width: 50%;
    }
  
}

@media(max-widtH:768px){
    .scheme .container .scheme-item .row .col-md-6 .image{
         height: auto;
    }
    .scheme .container .scheme-title h4{
        font-size: 24px;
    }
 
}

@media(max-widtH:450px){
    .scheme .container .scheme-item .row .col-md-6{
        flex:auto;
        max-width:initial;
    }
}