* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, .nav-link, p, span, li, a {
  font-family: 'Raleway', sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: #F07D19;
  cursor: pointer; }

h5 {
  font-weight: 600; }

.common-h4 {
  font-size: 28px;
  font-weight: 700;
  color: #191E64; }

.hover-btn:hover {
  background: #F07D19;
  cursor: pointer; }

.hover-link:hover {
  color: #F07D19;
  cursor: pointer; }

.common-h3 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  color: #191E64; }

.common-h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #F07D19; }

.read-more-btn {
  background: #191E64;
  width: 130px;
  height: 38.48px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease; }

.read-more-btn:hover {
  background: #F07D19;
  cursor: pointer;
  color: #ffffff; }

.secondary-menu {
  background-color: #191E64;
  height: 26px;
  display: flex;
  align-items: center; }
  .secondary-menu .container ul {
    text-align: right; }
    .secondary-menu .container ul li {
      display: inline-block;
      padding-left: 30px; }
      .secondary-menu .container ul li a {
        font-size: 10px;
        color: #ffffff; }
        .secondary-menu .container ul li a:hover {
          color: #F07D19; }
      .secondary-menu .container ul li img {
        height: 42px;
        margin-top: 16px; }

.navbar {
  padding: 0rem 1rem;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }

.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
  background-color: none !important;
  font-size: 14px; }

.navbar-nav .nav-item.active-item {
  font-weight: 800; }

.logo {
  height: auto;
  widtH: 95px; }

.navbar-nav .nav-item {
  margin-right: 16px;
  font-weight: 500; }

a:hover {
  color: #F07D19;
  cursor: pointer; }

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #191E64; }
  .navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
  .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: #F07D19;
    cursor: pointer; }

.last-item {
  background-color: #191E64;
  margin-right: 0px !important; }
  .last-item a {
    color: #ffffff !important; }

footer {
  background: #f8f8f8;
  padding-top: 80px; }
  footer .container {
    padding-bottom: 40px; }

.footer-logo img {
  height: 147px;
  widtH: auto;
  margin-top: -20px;
  margin-left: -23px; }

.footer-address ul {
  margin-top: 20px; }

.footer-address ul li {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500; }

.footer-address ul li img {
  height: 32px;
  widtH: auto;
  padding-right: 6px; }

.other .first ul {
  column-count: 2; }

.other .first ul li a {
  font-size: 14px;
  font-weight: 500; }

.other .first ul li {
  margin-bottom: 0.5rem; }

.other .second .affiliate .col-md-4 {
  margin-bottom: 20px; }

.other .second .affiliate .col-md-4 img {
  height: 45px;
  width: auto; }

.social-links a img {
  height: 36px;
  widtH: auto;
  padding-right: 6px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease; }
  .social-links a img:hover {
    transform: scale(1.2); }

.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.get-in-touch .second img {
  width: 187px;
  height: auto; }

.get-in-touch .first p {
  widtH: 182px;
  font-size: 14px;
  font-weight: 400; }

.affiliate .col-md-4 {
  flex: 0 0 auto;
  widtH: auto; }

.copyright {
  background: #191E64;
  padding: 5px 0px;
  text-align: center; }
  .copyright span {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff; }

.site-newsletter {
  background: 191E64;
  background: #191E64;
  padding: 50px 0px;
  position: relative; }
  .site-newsletter .container .newsletter-section .row .col-md-6:nth-of-type(2) {
    flex: 0 0 43%;
    max-width: 43%; }
  .site-newsletter .container .newsletter-section .row .col-md-6 .site-content h3 {
    color: white;
    font-size: 36px;
    font-weight: 500; }
  .site-newsletter .container .newsletter-section .row .col-md-6 .site-content p {
    color: white;
    font-size: 18px;
    font-weight: normal; }
  .site-newsletter .container .newsletter-section .row .col-md-6 ::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500; }
  .site-newsletter .container .newsletter-section .row .col-md-6 :-ms-input-placeholder {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500; }
  .site-newsletter .container .newsletter-section .row .col-md-6 ::placeholder {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500; }
  .site-newsletter .container .newsletter-section .row .col-md-6 input.form-control {
    border: none;
    background: transparent;
    border-top: none;
    border-lefT: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    height: 50px;
    padding: 0;
    outline: none;
    background: none;
    color: #ffffff; }
    .site-newsletter .container .newsletter-section .row .col-md-6 input.form-control:focus {
      outline: none !important;
      background: transparent;
      box-shadow: none; }
    .site-newsletter .container .newsletter-section .row .col-md-6 input.form-control:active {
      outline: none !important; }
  .site-newsletter .container .newsletter-section .row .col-md-6 button {
    position: absolute;
    right: 16px;
    top: 13px;
    background: transparent;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    height: 20px;
    outline: none;
    z-index: 2; }
  .site-newsletter .dot {
    position: absolute;
    height: 121px;
    top: 0;
    width: 147px;
    right: 240px;
    margin-top: 40px; }

@media (max-widtH: 992px) {
  .secondary-menu {
    height: auto; }

  .navbar.navbar-dark .navbar-toggler-icon {
    background-image: url("../images/icons/menu.png"); } }
.hover-btn:hover {
  background: #F07D19;
  cursor: pointer; }

.slick-dots li button:before {
  font-size: 12px;
  color: #191E64; }

.white-btn {
  color: #191E64;
  width: 117px;
  height: 38.48px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  transition: 1s ease; }
  .white-btn:hover {
    background: #F07D19;
    cursor: pointer;
    color: #ffffff; }

.banner-section {
  position: relative; }

.banner-section img {
  width: 100%;
  height: auto;
  position: relative; }

.banner-overlay {
  position: absolute;
  top: 300px;
  widtH: 100%; }
  .banner-overlay .container .row .first {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .banner-overlay .container .row .first h3 {
      color: #191E64; }
      .banner-overlay .container .row .first h3:nth-of-type(1) {
        margin-top: 90px; }
  .banner-overlay .social-group {
    widtH: 45px;
    background-color: #191E64;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0; }
    .banner-overlay .social-group a img {
      height: 25px;
      widtH: 25px; }

.banner-overlay .row .col-md-7 img {
  height: auto;
  width: 100%;
  transform: scale(1.1);
  margin-left: 50px; }

.banner-overlay .social-group a img:hover {
  transform: scale(1.1);
  cursor: pointer; }

.banner-overlay .container .row .col-md-5 h3 {
  font-size: 36px;
  font-weight: 900; }

.banner-overlay .container .row .col-md-5 h3 strong {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff; }

.banner-overlay .container .row .col-md-5 p {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff; }

.adaptations {
  background: #f6f6f6;
  margin-top: -30px; }
  .adaptations .container {
    padding: 60px 0px 70px  0px; }
    .adaptations .container h3 {
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      color: #191E64;
      text-align: center;
      padding-bottom: 30px; }
    .adaptations .container .slidep .slick-arrow {
      display: none !important; }
    .adaptations .container .slidep .col-md-3 img {
      width: 100%; }
    .adaptations .container .slidep .slick-list {
      margin-bottom: 30px; }
    .adaptations .container .slidep .slick-dots li button:before {
      font-size: 12px;
      color: #191E64; }

.request-quote {
  margin-top: 60px; }
  .request-quote .container .row {
    display: flex;
    justify-content: space-between; }
    .request-quote .container .row .col-md-6 {
      flex: 0 0 49%;
      max-width: 49%; }
      .request-quote .container .row .col-md-6:nth-of-type(1) {
        background: #f6f6f6;
        padding-lefT: 0px;
        padding-right: 0px; }
        .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form {
          padding-bottom: 20px; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form .form-control {
            padding: 0.175rem 0.75rem;
            height: 29px; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form label {
            color: #1A1A1A;
            font-size: 12px;
            font-weight: 400; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form input {
            border: 0.5px solid #B9B9B9;
            outline: none;
            border-radius: 0rem; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form .form-title {
            background: #191E64;
            color: white;
            height: 43px;
            font-weight: 600;
            font-size: 18px;
            display: flex;
            align-items: center; }
            .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form .form-title span {
              padding-left: 15px; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form .row {
            padding: 20px 15px 10px 15px; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form .add-more {
            padding-left: 15px;
            display: block;
            font-size: 12px;
            font-weight: 500; }
            .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form .add-more img {
              height: 16px;
              widtH: 16px;
              margin-right: 10px; }
          .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form #send-request {
            color: #ffffff;
            background: #191E64;
            margin-left: 15px;
            font-size: 12px;
            font-weight: 600;
            height: 30px;
            display: block;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            width: 124px;
            align-items: center; }
            .request-quote .container .row .col-md-6:nth-of-type(1) .quote-form #send-request:hover {
              background-color: #F07D19;
              cursor: pointer; }
      .request-quote .container .row .col-md-6:nth-of-type(2) {
        background: #f6f6f6; }
      .request-quote .container .row .col-md-6 .quote-slide {
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px; }
        .request-quote .container .row .col-md-6 .quote-slide .col-md-6 {
          flex: 0 0 50%;
          max-width: 50%; }
        .request-quote .container .row .col-md-6 .quote-slide .slick-dots {
          bottom: -35px; }
        .request-quote .container .row .col-md-6 .quote-slide .slick-arrow {
          display: none !important; }
        .request-quote .container .row .col-md-6 .quote-slide img {
          widtH: 94%;
          margin-left: 3%;
          margin-right: 3%; }

.video-section {
  margin-top: 120px; }
  .video-section .container .row .first {
    position: relative; }
    .video-section .container .row .first .bg-img {
      widtH: 100%;
      height: auto; }
    .video-section .container .row .first .play-btn {
      position: absolute;
      top: 40%;
      left: 40%; }
      .video-section .container .row .first .play-btn img {
        width: 79px;
        height: auto;
        position: absolute;
        top: 50%; }
  .video-section .container .row .second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-lefT: 40px; }
    .video-section .container .row .second .dots {
      position: absolute;
      top: 0;
      z-index: 2;
      left: 0;
      margin-lefT: -120px;
      margin-top: -100px;
      width: 255px;
      height: 216px; }
    .video-section .container .row .second h4 {
      font-size: 28px;
      font-weight: 700;
      color: #191E64; }
    .video-section .container .row .second p {
      font-size: 18px;
      color: #1A1A1A;
      width: 405px;
      padding: 10px 0px; }

.best-products {
  margin-top: 100px; }
  .best-products .container .first .col-md-12 {
    display: flex;
    flex-direction: column; }
    .best-products .container .first .col-md-12 p {
      max-width: 650px; }
  .best-products .container .slidep {
    margin-top: 60px;
    margin-bottom: 120px; }
    .best-products .container .slidep .col-md-3 img {
      width: 100%; }
    .best-products .container .slidep .slick-list {
      margin-bottom: 30px; }
    .best-products .container .slidep .slick-dots li button:before {
      font-size: 12px;
      color: #191E64; }

.events {
  background-image: url("../images/home/ban.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .events .container .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px 60px 0px; }
    .events .container .first .awards .headline div h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #191E64; }
    .events .container .first .awards .row .col-md-4 a img {
      width: 100%; }
    .events .container .first .awards .row .col-md-8 h5 {
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      color: #F07D19; }
    .events .container .first .awards .row .col-md-8 p {
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: #1A1A1A; }
    .events .container .first .awards .row .col-md-8 .rd-more {
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: #FFFFFF;
      background: #191E64;
      height: 30px;
      width: 109px;
      padding: 10px 15px; }
      .events .container .first .awards .row .col-md-8 .rd-more:hover {
        background-color: #F07D19; }
    .events .container .first .col-md-6 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background: #ffffff;
      flex: 0 0 48%;
      max-width: 48%;
      margin-bottom: 40px;
      padding: 20px; }
      .events .container .first .col-md-6 .headline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between; }
        .events .container .first .col-md-6 .headline div h5 {
          font-size: 15px;
          font-weight: 700;
          padding-bottom: 10px; }
        .events .container .first .col-md-6 .headline div a {
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          text-decoration: underline;
          color: #1A1A1A;
          opacity: 0.5; }
      .events .container .first .col-md-6 .items .row .col-md-4 img {
        widtH: 100%;
        height: auto; }
      .events .container .first .col-md-6 .items .row .col-md-8 h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        color: #F07D19; }
      .events .container .first .col-md-6 .items .row .col-md-8 p {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: #1A1A1A; }
  .events .container .second .headline div h5 {
    font-size: 15px;
    font-weight: 700; }
  .events .container .second .headline div a {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    color: #1A1A1A;
    opacity: 0.5; }
  .events .container .second .affiliate {
    justify-content: space-between; }
    .events .container .second .affiliate .col-md-4 {
      margin-bottom: 20px; }
      .events .container .second .affiliate .col-md-4 img {
        widtH: auto;
        height: 70px; }

.affiliation {
  background: #F8F8F8; }
  .affiliation .container .row .first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  .affiliation .container .row .second .affiliate .col-md-4 {
    margin-bottom: 20px; }
    .affiliation .container .row .second .affiliate .col-md-4 img {
      widtH: auto;
      height: 70px; }

.client-section {
  margin-top: 150px; }
  .client-section .container-fluid {
    padding-right: 90px; }
    .client-section .container-fluid .row .col-md-3 {
      height: auto;
      text-align: center;
      border-right: 0.3px solid #1A1A1A; }
      .client-section .container-fluid .row .col-md-3 img {
        widtH: 100%;
        height: auto; }
      .client-section .container-fluid .row .col-md-3 h4 {
        font-size: 18px;
        font-weight: 700;
        padding: 40px 0px 20px 0px;
        color: #191E64; }
      .client-section .container-fluid .row .col-md-3:last-child {
        border-right: none; }
    .client-section .container-fluid .row .first {
      background: #191E64;
      display: flex;
      flex-direction: column;
      padding: 0px 40px;
      justify-content: center;
      text-align: left; }
      .client-section .container-fluid .row .first h4, .client-section .container-fluid .row .first p {
        color: #ffffff; }
      .client-section .container-fluid .row .first h4 {
        font-size: 24px !important; }
      .client-section .container-fluid .row .first p {
        width: 226px;
        text-align: justify; }
      .client-section .container-fluid .row .first .view-btn {
        color: #191E64;
        width: 117px;
        height: 38.48px;
        background: #ffffff;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 15px;
        transition: 1s ease; }
        .client-section .container-fluid .row .first .view-btn:hover {
          background: #F07D19;
          cursor: pointer;
          color: #ffffff; }

.best-products .container .slidep .slick-arrow {
  top: -40px;
  padding: 10px;
  height: 20px;
  width: 20px; }
.best-products .container .slidep .slick-prev {
  left: auto !important;
  right: 70px !important; }
  .best-products .container .slidep .slick-prev:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 20px;
    opacity: 1;
    padding: 5px 12px; }
.best-products .container .slidep .slick-next {
  right: 30px; }
  .best-products .container .slidep .slick-next:before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 20px;
    padding: 5px 12px; }
.best-products .container .slidep .slick-prev:before, .best-products .container .slidep .slick-next:before {
  color: #ffffff;
  background: #191E64;
  border-radius: 50%; }

.sigin-text {
  font-size: 19px;
  font-weight: 600; }

.signin-form .input-group input {
  padding: 5px 0px; }

.forget-pass {
  font-size: 12px;
  font-weight: 400; }

.signin-btn {
  background: #F07D19;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  bordeR: 2px solid #f07d19;
  padding: 5px 0px;
  outline: none; }

.social-link {
  widtH: 50%;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: initial; }
  .social-link img {
    height: 21px;
    widtH: auto;
    padding-right: 30px; }
  .social-link:nth-of-type(1) {
    background: #4267B2;
    color: white;
    font-size: 14px;
    font-weight: 500;
    widtH: 100%; }

.other1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px; }
  .other1 div:nth-of-type(1) {
    widtH: 48%; }
  .other1 div:nth-of-type(2) {
    widtH: 48%; }
    .other1 div:nth-of-type(2) .social-link {
      border: 1px solid #AAAAAA;
      font-size: 14px;
      background: none;
      color: #AAAAAA;
      font-weight: 500;
      widtH: 100%; }

.signin-input {
  border: 1px solid #B7B7B7;
  border-radius: none; }

.or:before {
  content: '';
  widtH: 35%;
  height: 10px;
  position: absolute;
  left: 0;
  margin-left: 35px;
  margin-top: 4px;
  border-bottom: 1px solid #B7B7B7; }
.or:after {
  content: '';
  widtH: 35%;
  height: 10px;
  position: absolute;
  right: 0;
  margin-right: 35px;
  margin-top: 4px;
  border-bottom: 1px solid #B7B7B7; }

.border-div {
  widtH: 100%;
  height: 1px;
  background-color: #B7B7B7;
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.make-account {
  font-size: 14px;
  font-weight: 600;
  color: #2E2E2E; }

.register-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #F07D19;
  padding-lefT: 20px; }

.signin-img {
  transform: scaleY(1.3);
  margin-top: 55px; }

@media (max-widtH: 992px) {
  .login-section {
    padding-top: 0px !important;
    margin-top: 20px !important; }

  .login-section .profile-login .container .row .col-lg-5 {
    margin-top: 50px; }

  .profile-login .container .row .col-lg-7 {
    display: none; }

  .profile-login .container {
    max-width: 650px; } }
@media (max-widtH: 450px) {
  .other1 div {
    widtH: 250px !important; }

  .other1 {
    flex-direction: column; }

  .make-account, .register-link {
    font-size: 12px; } }
.awards {
  padding: 0px 0px 100px 0px; }
  .awards .awards-img {
    height: auto;
    width: 774px;
    position: absolute;
    right: 0;
    padding-lefT: 60px; }
  .awards .container .first {
    padding-top: 60px; }
    .awards .container .first h3 {
      font-size: 36px;
      font-weight: 600; }
    .awards .container .first p {
      font-size: 18px;
      color: #1A1A1A;
      font-weight: normal;
      max-width: 486px;
      padding: 10px 0px 10px 0px; }
  .awards .container .second {
    margin-top: 40px; }
    .awards .container .second .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .awards .container .second .row .col-md-4 {
        flex: 0 0 32%;
        max-width: 32%; }
        .awards .container .second .row .col-md-4 img {
          widtH: 100%; }
        .awards .container .second .row .col-md-4 h5 {
          padding: 15px 0px 5px 0px; }

@media (max-widtH: 1150px) {
  .awards .awards-img {
    widtH: 574px; } }
@media (max-widtH: 992px) {
  .awards .container .first {
    background: white;
    padding-left: 20px;
    padding-right: 10px; }

  .awards img {
    z-index: -1; }

  .awards .container {
    z-index: 2; } }
@media (max-widtH: 768px) {
  .awards img {
    z-index: -1; }

  .awards .container {
    z-index: 2; }

  .awards .container .first {
    background: white;
    padding-left: 20px;
    padding-right: 10px; }

  .awards .container .second .row .col-md-4 {
    margin-bottom: 40px; }

  .awards .container .second .row .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; } }
.technical {
  background-image: url("../images/technical/back-img.png");
  padding: 40px 0px;
  background-size: cover; }
  .technical .container .first .col-md-7 h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    color: #191E64; }
  .technical .container .first .col-md-7 p {
    max-width: 486px;
    font-size: 18px;
    color: #1A1A1A;
    font-weight: normal; }
  .technical .container .first .col-md-5 .technical-slide .slide-item img {
    width: 114px; }
  .technical .container .first .col-md-5 .technical-slide .slick-prev:before, .technical .container .first .col-md-5 .technical-slide .slick-next:before {
    color: #191E64; }
  .technical .container .first .col-md-5 .technical-slide .slick-next {
    right: 12px; }
  .technical .container .second .col-md-7 .download-div {
    border: 1px solid #e3e3e3;
    padding-right: 30px;
    margin-bottom: 30px; }
    .technical .container .second .col-md-7 .download-div .row .col-md-2 {
      padding-right: 0px; }
      .technical .container .second .col-md-7 .download-div .row .col-md-2 img {
        width: 100%; }
    .technical .container .second .col-md-7 .download-div .row .col-md-9 {
      padding-top: 10px;
      padding-lefT: 30px; }
      .technical .container .second .col-md-7 .download-div .row .col-md-9 h5 {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-transform: capitalize;
        color: #191E64; }
      .technical .container .second .col-md-7 .download-div .row .col-md-9 p {
        max-width: 487px;
        font-size: 12px;
        font-weight: 400;
        color: #1A1A1A;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .technical .container .second .col-md-7 .download-div .row .col-md-1 {
      padding-right: 30px;
      display: flex;
      align-items: center; }
      .technical .container .second .col-md-7 .download-div .row .col-md-1 a img {
        widtH: 32px;
        height: auto;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; }
        .technical .container .second .col-md-7 .download-div .row .col-md-1 a img:hover {
          cursor: pointer;
          transform: scale(1.2); }
  .technical .container .second .col-md-5 div img {
    widtH: 100%;
    height: auto; }
  .technical .container .second .col-md-5 .blue-div {
    height: 175px;
    width: 100%;
    background: #191E64;
    padding: 40px 0px 0px 30px; }
    .technical .container .second .col-md-5 .blue-div h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 22px;
      color: #FFFFFF; }
    .technical .container .second .col-md-5 .blue-div span {
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      display: block;
      margin-bottom: 20px; }
    .technical .container .second .col-md-5 .blue-div .dw-btn {
      background: white;
      padding: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin-top: 40px;
      color: #191E64; }
      .technical .container .second .col-md-5 .blue-div .dw-btn img {
        height: auto;
        width: 17px;
        margin-right: 10px;
        margin-top: -5px;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; }
      .technical .container .second .col-md-5 .blue-div .dw-btn:hover {
        background-color: #F07D19;
        cursor: pointer;
        color: white; }

@media (max-widtH: 700px) {
  .technical-slide .slick-arrow {
    display: none !important; } }
.products {
  padding: 0px 0px 100px 0px; }
  .products .awards-img {
    height: auto;
    width: 774px;
    position: absolute;
    right: 0;
    padding-lefT: 60px; }
  .products .container .first {
    padding-top: 60px; }
    .products .container .first h3 {
      font-size: 36px;
      font-weight: 600; }
    .products .container .first p {
      font-size: 18px;
      color: #1A1A1A;
      font-weight: normal;
      max-width: 486px;
      padding: 10px 0px 10px 0px; }
  .products .container .second1 {
    margin-top: 40px; }
    .products .container .second1 .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .products .container .second1 .row .col-md-3 {
        margin-bottom: 40px; }
        .products .container .second1 .row .col-md-3 a img {
          widtH: 100%; }

@media (max-widtH: 1200px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 10px; } }
@media (max-widtH: 1100px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: -30px; } }
@media (max-widtH: 1024px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: -50px; } }
@media (max-widtH: 992px) {
  .video-section .container .row .second .dots {
    display: none; }

  .navbar {
    top: 0 !important;
    padding-top: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }

  .navbar-nav.ml-auto {
    padding-bottom: 20px; }

  .navbar-nav.ml-auto {
    padding-bottom: 20px; }

  .navbar-nav.ml-auto .last-item {
    widtH: 170px;
    display: flex;
    justify-content: center;
    margin-top: 7px; }

  .secondary-menu .container ul li {
    padding-right: 5px; }

  .secondary-menu .container ul li:last-child {
    display: none; }

  .secondary-menu .container ul li a {
    font-size: 8px; }

  .banner-overlay {
    top: 0; }

  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 250px;
    font-size: 20px; }

  .banner-overlay .container .row .col-md-5 p {
    font-size: 12px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding-right: 30px; }

  .banner-overlay .container .row .col-md-5 h3 strong {
    font-size: 20px; }

  .banner-overlay .container .row .col-md-5 h3 {
    font-size: 16px; }

  .banner-overlay .social-group {
    top: 7%; }

  .request-quote .container .row .col-md-6 {
    flex: auto;
    max-width: initial; }

  .request-quote .container .row .col-md-6:nth-of-type(1) {
    margin-bottom: 20px; }

  .request-quote {
    margin-top: 20px; }

  .request-quote .container .row .col-md-6:nth-of-type(2) {
    padding-bottom: 20px; }

  .video-section {
    margin-top: 20px; }

  .video-section .container .row .second p {
    widtH: 100%; }

  .events .container .first .col-md-6 {
    flex: auto;
    max-width: initial; }

  .get-in-touch {
    align-items: flex-start; }

  .site-newsletter .container .newsletter-section .row .col-md-6 .site-content h3 {
    font-size: 26px; }

  .site-newsletter .container .newsletter-section .row .col-md-6:nth-of-type(2) {
    flex: auto;
    max-width: initial; }

  .site-newsletter .dot {
    right: 0; }

  .client-section {
    margin-top: 20px; }

  .client-section .container-fluid .row .first p {
    width: auto; }

  .client-section .container-fluid {
    padding-right: 0px; }

  .client-section .container-fluid .row .first .view-btn {
    margin-bottom: 40px; }

  .client-section .container-fluid .row .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }

  .best-products {
    margin-top: 40px; }

  .best-products .container .slidep {
    margin-bottom: 60px; }

  .events .container .first .col-md-6 .items .row .col-md-8 h5 {
    margin-top: 10px; } }
@media (max-widtH: 850px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 210px;
    font-size: 20px; } }
@media (max-widtH: 768px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 200px; }

  .banner-overlay .container .row .col-md-5 p {
    max-widtH: 350px;
    margin-top: 0px !important;
    margin-bottom: 10px !important; }

  .video-section .container .row .second h4 {
    font-size: 20px;
    margin-top: 10px; }

  .secondary-menu .container ul {
    text-align: right; }

  footer .container .row .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%; }

  .other .second .affiliate .col-md-4 img {
    height: 35px; }

  .get-in-touch {
    flex-direction: row;
    margin-top: 25px; }

  .get-in-touch .second {
    margin-top: 0px !important; }

  .footer-address ul li {
    font-size: 12px; }

  .adaptations .container {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 20px; }

  .adaptations .container h3 {
    font-size: 20px; }

  .events .container .row .col-md-6 .items .row {
    flex-wrap: nowrap; }

  .events .container .row .col-md-6 .items {
    margin-bottom: 20px; } }
@media (max-widtH: 650px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 160px; } }
@media (max-widtH: 576px) {
  .client-section .container-fluid .row .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%; }

  .client-section .container-fluid .row .col-md-3 h4 {
    padding: 10px 0px 0px 0px; }

  .client-section .container-fluid .row .first p {
    margin-top: 10px !important; }

  .events .container .row .col-md-6 .items .row {
    flex-wrap: nowrap; }

  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 50px; }

  .banner-overlay .container .row .col-md-5 p {
    max-width: 350px; }

  .video-section .container .row .second h4 {
    font-size: 18px;
    margin-top: 10px; }

  .adaptations .container h3 {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 0px; }

  .footer-address ul li {
    font-size: 14px; }

  footer .container .row .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  .secondary-menu .container ul {
    text-align: center; }

  .secondary-menu .container ul li {
    padding-left: 10px; }

  .secondary-menu .container ul {
    text-align: left; }

  footer .container .row .other .first {
    margin-top: 25px;
    margin-bottom: 25px; }

  footer .container .row .other .second {
    margin-top: 0px !important;
    margin-bottom: 25px; }

  .get-in-touch {
    flex-direction: row; }

  .get-in-touch .second {
    margin-top: 0px !important; } }
@media (max-widtH: 450px) {
  .events .container .row .col-md-6 .items .row {
    flex-wrap: wrap; }

  .get-in-touch .second img {
    height: 55px;
    width: auto; }

  .video-section .container .row .second h4 {
    font-size: 16px;
    margin-top: 10px; }

  .events .container .second .affiliate .col-md-4 img {
    height: 50px; }

  .banner-overlay .container .row .col-md-5 h3 {
    font-size: 12px; }

  .banner-overlay .container .row .col-md-5 p {
    font-size: 10px; }

  .read-more-btn {
    width: 100px;
    height: 30px;
    font-size: 9px; }

  .banner-overlay .social-group {
    width: 25px;
    height: auto; }

  .banner-overlay .container .row .col-md-5 h3 strong {
    font-size: 14px; }

  .banner-overlay .social-group a img {
    height: 15px;
    widtH: 15px; }

  .banner-overlay .container .row .col-md-5 p {
    margin-top: 0px !important;
    margin-bottom: 3px !important; } }
@media (max-widtH: 400px) {
  .events .container .second .affiliate .col-md-4 img {
    height: 45px; }

  .get-in-touch {
    flex-direction: column; }

  .get-in-touch .second {
    margin-top: 25px !important; }

  .get-in-touch .first p {
    width: 100%; } }
@media (max-widtH: 350px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 20px; }

  .video-section .container .row .second h4 {
    font-size: 14px;
    margin-top: 10px; }

  .secondary-menu .container ul li {
    padding-left: 0px; }

  .get-in-touch .second img {
    height: 45px;
    width: auto; }

  .events .container .second .affiliate .col-md-4 img {
    height: 35px; } }
@media (max-widtH: 315px) {
  .secondary-menu .container ul {
    text-align: left;
    column-count: 2; } }
@media (max-widtH: 300px) {
  .banner-overlay .container .row .first h3:nth-of-type(1) {
    margin-top: 10px; }

  .footer-address ul li {
    font-size: 12px; }

  .other .second .affiliate .col-md-4 img {
    height: 35px; } }

/*# sourceMappingURL=style.css.map */
