*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    overflow-x:hidden !important;
}

h1,h2,h3,h4,h5,h6,.nav-link,p,span,li,a{
    font-family: 'Raleway', sans-serif;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    color: #F07D19;
    cursor:pointer;
}
h5{
    font-weight:600;
}




.common-h4{
    font-size:28px;
    font-weight:700;
    color: #191E64;
}

.hover-btn:hover{
    background:#F07D19;
    cursor: pointer;
}
.hover-link:hover{
    color:#F07D19;
    cursor: pointer;
}

.common-h3{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    color: #191E64;
    
}
.common-h5{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #F07D19;
}

.read-more-btn{
    background: #191E64;
    width: 130px;
    height: 38.48px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition:0.5s ease;
    -o-transition:0.5s ease;
    transition:0.5s ease;
}
.read-more-btn:hover{
    background: #F07D19;
    cursor: pointer;
    color:#ffffff;
}
$commonBlue: #191E64;



// header css

.secondary-menu{
    background-color: $commonBlue;
    height: 26px;
    display:flex;
    align-items: center;
    
    .container{
        ul{
            text-align: right;
            li{
                display:inline-block;
                padding-left:30px;
                a{
                    font-size:12px;
                    color:#ffffff;
                    &:hover{
                        color: #F07D19;
                    }
                }
                img{
                    height:42px;
                    margin-top:16px;
                   

                }
            }
        }
    }
}

.navbar{
    padding: 0rem 1rem; 
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height:70px;
}
.navbar-brand{
    padding-top:0rem;
    padding-bottom: 0rem;
}
.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,
 .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
     background-color:none !important;
     font-size:14px;
 }
.navbar-nav .nav-item.active-item{
  
    font-weight:800;
}
.logo{
    height:auto;
    widtH:95px;
    transform:scale(1.1);

}
.navbar-nav .nav-item{
    margin-right:16px;
    font-weight:500;
}
a:hover{
    color: #F07D19;
    cursor: pointer;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, 
.navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    font-size:14px;
    color:$commonBlue;
    &:hover{
        color: #F07D19;
        cursor: pointer;
    }
}
.last-item{
    background-color: $commonBlue;
    margin-right: 0px !important;
    a{
        color:#ffffff !important;
    }
}

// header css


// footer css
footer{
    background:#f8f8f8;
    padding-top:80px;

}
.footer-logo img{
    height: 147px;
        widtH: auto;
        margin-top: -20px;
     
        margin-left: -23px;
       

}
.footer-address ul{
    margin-top:20px;
}
.footer-address ul li{
    margin-bottom: 16px;
    font-size:14px;
    font-weight:500;
}
.footer-address ul li img{
    height:32px;
    widtH:auto;
    padding-right:6px;

}

.other .first ul {
    column-count: 2;
}
.other .first ul li a{
    font-size:14px;
    font-weight: 500;
}
.other .first ul li{
    margin-bottom: 0.5rem;
}
.other .second .affiliate .col-md-4{
    margin-bottom: 20px;
}
.other .second .affiliate .col-md-4 img{
//   width: 100%;
//   height:auto;
  height:45px;
  width:auto;
}

.social-links a img{
    height:36px;
    widtH:auto;
    padding-right: 6px;
    -webkit-transition:0.5s ease;
-o-transition:0.5s ease;
transition:0.5s ease;
&:hover{
   transform:scale(1.2);
}
}
.get-in-touch{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.get-in-touch .second img{
    width:187px;
    height:auto;
}
.get-in-touch .first p{
    widtH:182px;
    font-size:14px;
    font-weight: 400;
}
.affiliate .col-md-4{
    flex: 0 0 auto;
    widtH:auto;
}

.copyright{
    background:$commonBlue;
    padding:10px 0px;

    .container{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        div{

   
            span{
                font-size:12px;
                font-weight:500;
                color:#ffffff;
               
            }
        }
    }
  
}
.themenepal-link a{
    color:#f07d19;
    &:hover{
        color:#ffffff;
    }
}
//footer css

// newsletter
.site-newsletter{
   
        background: 191E64;
        background: #191E64;
        padding:50px 0px;
        position: relative;
        z-index: 1;
    .container{
        .newsletter-section{
            .row{
                .col-md-6{
                    &:nth-of-type(2){
                        flex:0 0 43%;
                        max-width: 43%;
                    }
                    .site-content{
                        h3{
                            color: white;
                                font-size: 36px;
                                font-weight: 500;
                        }
                        p{
                            color: white;
                            font-size: 18px;
                            font-weight: normal;
                        }
                }
                ::-webkit-input-placeholder { 
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                  }
                  
                  :-ms-input-placeholder { 
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                  }
                  
                  ::placeholder {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                  }
                input.form-control {
                  
                    border:none;
                  background: transparent;
                  border-top:none;
                  border-lefT:none;
                  border-right: none;
                  border-bottom: 1px solid #ffffff;
                  border-radius: 0;
                height: 50px;
                padding: 0;
                outline:none;
                background:none;
                color:#ffffff;
                &:focus{
                    outline:none !important;
                    background:transparent;
                    box-shadow: none;
                 
                }
                &:active{
                    outline:none !important;
                    
                }
                }
                button{
                    position: absolute;
                    right: 16px;
                    top: 13px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                    height: 20px;
                    outline:none;
                    z-index: 2;
                }
                }
            }
        }
    }
    .dot{
        position: absolute;
    height: 121px;
    top: 0;
    width: 147px;
    right: 11%;
    margin-top:40px;
    }
}

@media(max-widtH:992px){
    .secondary-menu{
        height:auto;
    }
    .navbar.navbar-dark .navbar-toggler-icon{
        background-image: url('../images/icons/menu.png');
    }
    footer{
        padding-top:40px;
    }
    .logo{
        transform: scale(1);
    }
    
}
@media(max-widtH:768px){
    .copyright .container div span{
        font-size:10px;
    }
}
@media(max-widtH:576px){
    .copyright{
        margin-top:20px;
    }
    .copyright .container{
        flex-direction: column;;
}

}

@media(max-widtH:360px){
    .copyright .container div span{
        font-size:10px;
    }
}
@media screen and(min-widtH:576px) and (max-widtH:992px){
    .social-links{
        margin-bottom: 20px;
    }
}


//banner part
.banner-part{
    height: 235px;
    position: relative;
 img{
     height: 100%;
     widtH:100%;
 }
 .container{
    position: absolute;
    top: 40%;
  
    lefT: 0;
    right: 0;
     h4{
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
        
     }
 }
}

@media(max-widtH:992px){
    .banner-part{
        height:auto !important;
    }
    .banner-part .container h4{
        font-size:24px;
    }
    .about-us .banner-part{
        height:auto;
    }
    .about-us .banner-part img{
        height: auto;
    }
    .about-us .banner-part .container{
        top:30%;
    }
    .about-us .banner-part .container h4{
        font-size: 24px;
    }
}

@media(max-widtH:576px){
    .banner-part .container h4{
        font-size:15px;
    }
}
//Hero
@import 'home';

@import 'login';

@import 'awards';

@import 'events';

@import 'scheme';

@import 'blogs';

@import 'contact';

@import 'blogs-detail';

@import 'one-product';

@import 'event-detail';

@import 'technical';

@import 'products';
@import 'about';

@import 'gallery';
@import '404';
@import 'faq';

@import 'gallery-photos';

@import 'thank-you';

@import 'register';
@import 'forget';
@import 'responsive';

// 
