.technical {
  background-image: url("../images/technical/back-img.png");
  padding: 40px 0px;
  background-size: cover; }
  .technical .container .first .col-md-7 h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
    text-transform: uppercase;
    color: #191E64; }
  .technical .container .first .col-md-7 p {
    max-width: 486px;
    font-size: 16px;
    color: #1A1A1A;
    font-weight: normal; }
  .technical .container .first .col-md-5 .technical-slide .slide-item img {
    width: 114px; }
  .technical .container .first .col-md-5 .technical-slide .slick-prev:before, .technical .container .first .col-md-5 .technical-slide .slick-next:before {
    color: #191E64; }
  .technical .container .first .col-md-5 .technical-slide .slick-next {
    right: 12px; }
  .technical .container .second .col-md-7 .download-div {
    border: 1px solid #e3e3e3;
    padding-right: 30px;
    margin-bottom: 30px; }
    .technical .container .second .col-md-7 .download-div .row .col-md-2 {
      padding-right: 0px; }
      .technical .container .second .col-md-7 .download-div .row .col-md-2 img {
        width: 100%; }
    .technical .container .second .col-md-7 .download-div .row .col-md-9 {
      padding-top: 10px;
      padding-lefT: 30px; }
      .technical .container .second .col-md-7 .download-div .row .col-md-9 h5 {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        text-transform: capitalize;
        color: #191E64; }
      .technical .container .second .col-md-7 .download-div .row .col-md-9 p {
        max-width: 487px;
        font-size: 12px;
        font-weight: 400;
        color: #1A1A1A;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .technical .container .second .col-md-7 .download-div .row .col-md-1 {
      padding-right: 30px;
      display: flex;
      align-items: center; }
      .technical .container .second .col-md-7 .download-div .row .col-md-1 a img {
        widtH: 32px;
        height: auto;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; }
        .technical .container .second .col-md-7 .download-div .row .col-md-1 a img:hover {
          cursor: pointer;
          transform: scale(1.2); }
  .technical .container .second .col-md-5 div img {
    widtH: 100%;
    height: auto; }
  .technical .container .second .col-md-5 .blue-div {
    height: 175px;
    width: 100%;
    background: #191E64;
    padding: 40px 0px 0px 30px; }
    .technical .container .second .col-md-5 .blue-div h4 {
      font-weight: 500;
      font-size: 24px;
      line-height: 22px;
      color: #FFFFFF; }
    .technical .container .second .col-md-5 .blue-div span {
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      display: block;
      margin-bottom: 20px; }
    .technical .container .second .col-md-5 .blue-div .dw-btn {
      background: white;
      padding: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      margin-top: 40px;
      color: #191E64; }
      .technical .container .second .col-md-5 .blue-div .dw-btn img {
        height: auto;
        width: 17px;
        margin-right: 10px;
        margin-top: -5px;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; }
      .technical .container .second .col-md-5 .blue-div .dw-btn:hover {
        background-color: #F07D19;
        cursor: pointer;
        color: white; }

@media (max-widtH: 1200px) {
  .technical .container .second .col-md-7 .download-div .row .col-md-1 a img {
    padding: 0px 0px 5px 5px; } }
@media (max-widtH: 992px) {
  .technical-slide .slick-arrow {
    display: none !important; }

  .technical .container .second .col-md-7 .download-div .row .col-md-1 a img {
    padding: 0px 0px 5px 5px; }

  .technical .container .second .col-md-5 .blue-div h4 {
    font-size: 18px; }

  .download-div .row {
    flex-wrap: nowrap; }
    .download-div .row .col-md-2 {
      flex: 0 0 20%;
      max-width: 20%; }
    .download-div .row .col-md-9 {
      flex: 0 0 65%;
      max-width: 65%; }
    .download-div .row .col-md-1 {
      flex: 0 0 15%;
      max-width: 15%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .download-div .row .col-md-1 .download img {
        widtH: 40px; }

  .technical .container .second .col-md-7 .download-div {
    padding: 10px; }

  .technical .container .second .col-md-7 .download-div .row .col-md-1 a img {
    widtH: 40px; }

  .technical .container .second .col-md-7 .download-div .row .col-md-9 p {
    text-shadow: none; }

  .technical .container .second .col-md-7 .download-div .row .col-md-9 {
    padding-lefT: 10px; } }
@media (max-widtH: 768px) {
  .technical-slide .slick-arrow {
    display: inline-block !important; } }
@media (max-widtH: 700px) {
  .technical-slide .slick-arrow {
    display: none !important; } }
@media (max-width: 400px) {
  .technical .container .second .col-md-7 .download-div .row .col-md-9 h5 {
    font-size: 12px;
    margin-bottom: 5px; }

  .technical .container .second .col-md-7 .download-div .row .col-md-9 {
    padding-top: 0px; } }

/*# sourceMappingURL=technical.css.map */
